<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm a Computer Science major at UC Berkeley. I'm particularly interested in complex systems and problems. I've most recently worked in the Autonomous Vehicles/Automotive Industry, but I also have a background working in Bio-Tech.
            </p>
            <p class="paragraph-text justify-text">
                I spend a lot of my free time on <a href="https://calsol.berkeley.edu">CalSol</a>, The UC Berkeley Solar Vehicle Team. I'm also very interested in 3D printing. I teach a class at UC Berkeley on 3D Modeling and Printing, and am always more than happy to chat about anything in that sphere!
            </p>
            <p class="paragraph-text justify-text">
                I'm a frequent Hackathon attendee, you can check out my projects on my <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
